<%= render 'shared/navbar' %>
<!-- <div class="position-relative" style="top: 60px"> -->
<div>
  <div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
    <h1><%= @cocktail.name %></h1>
  </div>

  <div class="container">

    <div class="row d-flex justify-content-betweeen">

      <div class="margin-top-negative col-12 col-md-6">
        <div class="card-recipe">
          <h2 class="my-3">Recipe</h2>
          <div class="ingredients-recipe">
            <% @cocktail.doses.each do |dose| %>
              <div><%= icon('fas', 'cocktail')%>  <%= dose.description %> of <%= dose.ingredient.name %>
                <span class="ml-2 small">
                  <%= link_to icon('fas', 'trash-alt'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="ingredient-add">
          <h5 class="mt-5 mb-3 d-inline-block mr-2">Add an ingredient</h5>
          <span><%= icon('fas', 'cocktail')%></span>
          <%= render 'doses/form' %>
        </div>
      </div>

      <div class="pl-5 mt-2 col-12 col-md-6">
        <h4 class="my-3 d-inline-block mr-2">Reviews</h4>
        <% @cocktail.reviews.each do |review| %>
          <div>
            <p><span class="stars" ><%= icon('fas', 'star') * review.rating%><%= icon('far', 'star') * (5 - review.rating)%></span> - <%= review.content %> <span class="font-italic"> - <%= review.user %></span></p>
          </div>
        <% end %>

        <hr>

        <h5 class="mt-5 mb-3">Add a review</h5>

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
          Launch static backdrop modal
        </button> -->

        <%= render 'reviews/form' %>
      </div>
    </div>

    <%= link_to icon('fas', 'arrow-left'), root_path, class: "mr-3 icon-direction" %>

  </div>


</div>
