<% if @cocktail.photo.attached? %>
  <div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, width: :auto, crop: :fill %>')">
<% else %>
  <div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1559443922-3f698a0ff27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=669&q=80')">
<% end %>
  <h1 class="text-center py-5"><%= @cocktail.name %></h1>

  <div class="container">

    <div class="row d-flex justify-content-center justify-content-lg-between">

      <div class="col-10 col-lg-5 mb-5">
        <div class="my-3 card-recipe">
          <h2 class="my-3">Recipe</h2>
          <div class="ingredients-recipe">
            <% @cocktail.doses.each do |dose| %>
              <div><%= icon('fas', 'cocktail')%>  <%= dose.description %> of <%= dose.ingredient.name %>
                <!-- <span id="sweet-alert-demo" class="ml-2 small"><%#= icon('fas', 'trash-alt') %></span> -->
                <%#= link_to "", dose_path(dose), method: :delete, id: "delete-link", class: "hidden" %>
                <span class="ml-2 small">
                  <% if @cocktail.user == current_user %>
                    <%= link_to icon('fas', 'trash-alt'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="ingredient-add">

          <% if @cocktail.user == current_user %>
            <%= render 'doses/form' %>
          <% end %>

        </div>
      </div>

      <div class="col-10 col-lg-5">
        <div class="my-3 card-reviews">
          <div class="d-flex align-items-center">
            <h4 class="my-3 d-inline-block mr-2">Reviews</h4>
            <div class="avg-ratings-cocktail stars d-inline-block">
              <% if @cocktail.reviews.any? %>
                <%= icon('fas', 'star') * @cocktail.reviews.average(:rating).to_i %><%= icon('far', 'star') * (5 - @cocktail.reviews.average(:rating).to_i) %>
              <% end %>
            </div>
          </div>
          <% if @cocktail.reviews.empty? %>
            <% if @cocktail.user == current_user %>
              <p>Your cocktail doesn't have any review yet</p>
            <% else %>
              <p>Be the first to give a review</p>
            <% end %>
          <% else %>
            <% @cocktail.reviews.each do |review| %>
              <div>
                <p><span class="stars" ><%= icon('fas', 'star') * review.rating%><%= icon('far', 'star') * (5 - review.rating)%></span> - <%= review.content %> <span class="font-italic"> - <%= review.user.username %></span></p>
              </div>
            <% end %>
          <% end %>
        </div>

        <hr>

        <div class="review-add">
          <% if user_signed_in? && @cocktail.user != current_user %>
            <% if current_user.can_review?(@cocktail) %>
              <%= render 'reviews/modal_create' %>
            <% else %>
              <%= render 'reviews/modal_edit' %>
            <% end %>
          <% end %>

          <%#= render 'reviews/form' %>
        </div>

      </div>

    </div>

  </div>
</div>
<%= link_to icon('fas', 'arrow-left'), root_path, class: "mr-3 icon-direction icon-white", id: "arrow-left" %>
