<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top d-flex align-items-center">
  <div class="logo-text"><%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %><span id="text-logo">Cocktail Lover</div>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group form-inline">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Mojito..." %>
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0;"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div class="search-form-control form-group form-inline">
            <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "Mojito..." %>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        <%# end %>
      </li> -->

      <%  if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link btn ml-2 btn-light" %>
        </li>
      <% else %>
        <li class="nav-item ml-3">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link btn ml-2 btn-light" %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
